/* Estilo para a página inicial */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

main {
    padding: 2rem;
}

.student-list {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.student-list h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.student-list ul {
    list-style: none;
    padding: 0;
}

.student-list li {
    margin: 0.5rem 0;
    text-align: center;
}

.student-list a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    font-size: 1.2rem;
}

.student-list a:hover {
    color: #388E3C;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}